/*-----------------------------------------------------------------------------------

    CSS INDEX
    ===================

    01. Theme default CSS	
    02. Header CSS
    03. Banner CSS
    04. About page CSS

-----------------------------------------------------------------------------------*/
/*----------------------------------------*/
/*  01. Theme default CSS
/*----------------------------------------*/
@font-face {
  font-family: 'helveticabold';
  src: url('../fonts/helvetica-bold-webfont.woff2') format('woff2'),
       url('../fonts/helvetica-bold-webfont.woff') format('woff'),
       url('../fonts/helvetica-bold-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'helveticaneuebold';
  src: url('../fonts/helvetica_neu_bold-webfont.woff2') format('woff2'),
       url('../fonts/helvetica_neu_bold-webfont.woff') format('woff'),
       url('../fonts/helvetica_neu_bold-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'helveticaneuelight';
  src: url('../fonts/helveticaneue_light-webfont.woff2') format('woff2'),
       url('../fonts/helveticaneue_light-webfont.woff') format('woff'),
       url('../fonts/helveticaneue_light-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'helveticaneuemedium';
  src: url('../fonts/helveticaneue_medium-webfont.woff2') format('woff2'),
       url('helveticaneue_medium-webfont.woff') format('woff'),
       url('../fonts/helveticaneue_medium-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}



@font-face {
  font-family: 'helveticaneueregular';
  src: url('../fonts/helveticaneue-webfont.woff2') format('woff2'),
       url('../fonts/helveticaneue-webfont.woff') format('woff'),
       url('../fonts/helveticaneue-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'helveticaregular';
  src: url('../fonts/helvetica-webfont.woff2') format('woff2'),
       url('../fonts/helvetica-webfont.woff') format('woff'),
       url('../fonts/helvetica-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;

}

/* box sizing */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* css variable */
:root {
    /* color */
    --theme-primary-color: #1a1b1d;
    --theme-secondary-color: #b6babd;
    --theme-tertiary-color: #909496;
    --theme-fourth-color: #787b7d;

    /* font family */
    --theme-primary-font: "helveticaneuelight",sans-serif;

    /* font size */
    --theme-fs-xxs: 14px;
    --theme-fs-xs: 16px;
    --theme-fs-s: 18px;
    --theme-fs-m: 22px;
    --theme-fs-l: 24px;
    --theme-fs-xl: 36px;
}
body {
  font-family: var(--theme-primary-font) !important;
  font-size: 16px;
  font-weight: normal;
  color: var(--theme-primary-color);
  line-height: inherit; }

a,
.btn {
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s; }

a:focus,
.button:focus {
  text-decoration: none;
  outline: none; }

a:focus,
a:hover {
  color: inherit;
  text-decoration: none; }

a,
button {
  color: inherit;
  outline: medium none; }
a {
  text-decoration: none;
}
button:focus, input:focus, input:focus, textarea, textarea:focus {
  outline: 0;
  border: 0; }

.uppercase {
  text-transform: uppercase; }

.capitalize {
  text-transform: capitalize; }

h1,h2,h3,h4,h5,h6 {
  margin: 0px;
  font-style: normal;
  text-transform: normal;
  line-height: 1; }

ul {
  margin: 0px;
  padding: 0px; }

li {
  list-style: none; }

p {
  font-family: var(--theme-primary-font);
  font-size: 16px;
  font-weight: normal;
  margin: 0;
}

hr {
  border-bottom: 1px solid #eceff8;
  border-top: 0 none;
  margin: 30px 0;
  padding: 0; }

label {
  font-size: 14px;
  font-weight: 400; }

*::-moz-selection {
  background: #ff5e14;
  color: #ffffff;
  text-shadow: none; }

::-moz-selection {
  background: #ff5e14;
  color: #ffffff;
  text-shadow: none; }

::selection {
  background: #ff5e14;
  color: #ffffff;
  text-shadow: none; }

/*--
    - Input Placeholder
-----------------------------------------*/
*::-moz-placeholder {
  color: #00235a;
  font-size: 14px;
  opacity: 1; }

*::placeholder {
  color: #00235a;
  font-size: 14px;
  opacity: 1; }

/*--
    - Common Classes
-----------------------------------------*/
.fix {
  overflow: hidden; }

.clear {
  clear: both; }

.f-left {
  float: left; }

.f-right {
  float: right; }

.p-relative {
  position: relative; }

.p-absolute {
  position: absolute; }

/* text color class */
.text-primary-color {
    color: var(--theme-primary-color);
}
.text-secondary-color {
    color: var(--theme-secondary-color);
}
.text-tertiary-color {
    color: var(--theme-secondary-light);
}
/* background color class */

/* font size class */
.text-fs-xxs {
    font-size: var(--theme-fs-xxs);
}
.text-fs-xs {
    font-size: var(--theme-fs-xs);
}
.text-fs-s {
    font-size: var(--theme-fs-s);
}
.text-fs-m {
    font-size: var(--theme-fs-m);
}
.text-fs-l {
    font-size: var(--theme-fs-l);
}
.text-fs-xl {
    font-size: var(--theme-fs-xl);
}
/* font weight class */
.font-light {
    font-weight: 300;
}
.font-regular {
    font-weight: 400;
}
.font-medium {
    font-weight: 500;
}
.font-semibold {
    font-weight: 600;
}
.font-bold {
    font-weight: 700;
}

.container-inner {
  display: flex;
  flex-wrap: wrap;
}

.bg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* container */
@media (min-width:576px){
  .container,.container-sm{max-width:550px}
}
@media (min-width:768px){
  .container,.container-md,.container-sm{max-width:750px}
}
@media (min-width:992px){
  .container,.container-lg,.container-md,.container-sm{max-width:970px}
}
@media (min-width:1200px){
  .container,.container-lg,.container-md,.container-sm,.container-xl{max-width:1170px}
}
@media (min-width:1500px){
  .container,.container-lg,.container-md,.container-sm,.container-xl{max-width:1270px}
}

.main {
  padding-top: 200px;
}
.page-wrapper {
  max-width: 1060px;
  width: 100%;
  margin: 0 auto;
}

/*----------------------------------------*/
/*  02. Header CSSS
/*----------------------------------------*/
header.header {
  position: absolute;
  top: 0;
  width: 100%;
  padding-top: 40px;
  padding-bottom: 32px;
  z-index: 999;
}
.header-logo {
  flex: 0;
}
.header-logo__link {
  display: inline-block;
}
.header-menu {
  flex: 1;
}
a.header-nav__item--link {
  display: inline-block;
  padding: 0 60px;
  font-family: 'helveticabold', sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  color: #000;
  letter-spacing: 2px;
}
.header-nav__list li:last-child a {
  padding-right: 0;
}

.home a.header-nav__item--link {
  color: #fff;
}

.mobile-menu,
.toggle-menu {
  display: none;
}

/*----------------------------------------*/
/*  03. Banner CSS
/*----------------------------------------*/
section.banner {
  width: 100vw;
  height: 100vh;
}
.banner--img {
  background-image: url(../images/home-bg.jpg);
  background-position: inherit;
}

section.banner .container,
section.banner .row {
  height: 100%;
}

.banner-inner {
  max-width: 815px;
  width: 100%;
}

h1.banner-inner__text {
  font-family: 'helveticabold', sans-serif;
  font-size: 50px;
  color: #fff;
  text-align: center;
}

/*----------------------------------------*/
/*  04. About page CSS
/*----------------------------------------*/
.section-header {
  padding-bottom: 120px;
}
.section-header__title {
  font-family: 'helveticaneuebold', sans-serif;
  font-size: 75px;
}
.section-description {
  column-width: inherit;
  column-count: 2;
  column-gap: 7%;
  margin-bottom: 120px;
}

.section-description p {
  margin-bottom: 55px;
  font-family: 'helveticaneue', sans-serif;
  line-height: 35px;
}

.section-description p:last-child {
  margin-bottom: 0;
}

.email-contact {
  max-width: 760px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 120px;
}

.email-contact__header {
  font-size: 30px;
  font-family: 'helveticaneuebold',sans-serif;
  margin-bottom: 40px;
  line-height: 35px;
}

.email-contact__email {
  font-size: 70px;
  font-family: 'helveticabold';
}

.team .section-header__title {
  padding-bottom: 80px;
}
.team-list .row {
  padding-top: 30px;
  border-top: 1px solid #CED2D5;
}

.team-list-box {
  margin-bottom: 65px;
}
.team-member-name {
  font-family: 'helveticaneuemedium', sans-serif;
  font-size: 20px;
  line-height: 35px;
}

.team-member-designation {
  font-family: 'helveticaregular';
  font-size: 16px;
  line-height: 30px;
}

.team-member-bio {
  font-family: 'helveticaneuemedium', sans-serif;
  font-size: 16px;
  line-height: 45px;
}
.img-box {
  margin-bottom: 120px;
}